.changerDate h1 {
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.1s ease;
  border-radius: 40px;
}

.changerDate h1:hover {
  background-color: #216788;
  transform: scale(1.05);
}

.changerDate h1:active {
  transform: scale(0.95);
}

.overdue {
  color: rgb(255, 110, 110);
  font-weight: bold;
}

.overdue-text {
  color: rgb(255, 110, 110);

  font-weight: bold;
  margin-left: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
